.input-box{
    font-weight: 400;
    font-size: 12px;
    width: 330px;
    height: 90px;
    color: #747474;
}
.heading{
    padding-top: 30px;
}
.headline{
    padding-top: 10px;
}
.table{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px solid black;
}
.info-message{
 
    height: 80px;
    border-radius: 5px;
    background-color: #f3f7fd;
}
.slds-icon{
    
    --lwc-colorTextIconDefault :blue;
}
.box1{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 2px;
    margin-right: -70px;
}
.box2{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 10px;
    width: 502px;
    height: 20px;
}
.slds-col span .box1{
    padding-left: 20px;
}
.slds-col span .box2{
    
    width: 592px;
    margin-left: -200px;
}
.slds-modal__content{
    width: 624px;
    padding-top: 20px;
}
.optionserror{
    color: red;
}
.date-error{
    color: red;
}
.dateError{
     --slds-c-input-color-border:#f40606;
     
        --lwc-colorTextIconDefault :red;
    
}
.info-icon{
    margin: 0px;
}
.slds-popover.slds-nubbin_bottom{
    position: absolute;
    left:0rem;
    top:-1.3rem;
}
.slds-popover__body{
    width: 10px;
}
.slds-popover{
    margin-top: 29px;
    margin-left: -304px;
    }